@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" asp-controller="empresa" asp-action="Index">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="AggOfertas">Agregar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="edit">Editar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="vUsuario">Usuarios</a>
                    </li>
                </ul>
                <a class="btn text-light" href="@Url.Action("editEmpresa", "empresa")"><i class="fa-solid fa-user"></i> @ViewBag.nombre</a>
            </div>
        </div>
    </nav>
</header>
<!--Contenido-->

    <section id="datos" class="pt-5">
        <div class="card border-primary pt-2 mb-4 ">
            <div class="row m-2">
                <h3>Información acerca del usuario: @Model.nombre</h3>
                <br>
                @if(Model.foto != null)
                {
                    <div class="container-md-6">
                        <img src="@Model.foto" class="fluid" alt=" ">
                    </div>

                }
                else
                {
                    <div class="container-md-6">
                        <img src="~/imgs/user.png" class="fluid" alt=" ">
                    </div>                
                }

                <div class="col-sm-6">
                    <label for="nombre" class="form-label">Nombre del usuario: </label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="@Model.nombre" readonly>
                </div>


                <div class="col-sm-6 mb-3">
                    <label for="direccion" class="form-label">Dirección :</label>
                    <textarea class="form-control" id="direccion" name="direccion" readonly>@Model.direccion</textarea>
                </div>

                <div class="col-sm-6 ">
                    <label for="telefono" class="form-label">Telefono :</label>
                <input type="text" class="form-control" id="telefono" name="telefono" value="@Model.telefono" readonly>
                </div>

                <div class="col-sm-4">
                    <label for="correo" class="form-label">Correo :</label>
                <input type="email" class="form-control" id="correo" name="correo" value="@Model.correo" readonly>
                </div>
            </div>
        </div>
    </section>
<section>
    <div class="card border-primary pt-2 mb-4 ">
        <div class="row m-2">
            <h3>Más sobre el Usuario :</h3>
            <div class="col-sm-6">
                <label for="direccion" class="form-label">Habilidades :</label>
                <textarea class="form-control" id="habilidades" name="habilidades" readonly>@Model.habilidades</textarea>
            </div>
            <div class="col-sm-6">
                <label for="direccion" class="form-label">Aptitudes :</label>
                <textarea class="form-control" id="aptitudes" name="aptitudes" readonly>@Model.aptitudes</textarea>
            </div>
            <div class="col-sm-6">
                <label for="direccion" class="form-label">Manejo de Tecnologías :</label>
                <textarea class="form-control" id="tecnologias" name="tecnologias" readonly>@Model.tecnologias</textarea>
            </div>
            <div class="col-sm-6 mb-3">
                <label for="direccion" class="form-label">Titulos :</label>
                <textarea class="form-control" id="titulos" name="titulos" readonly>@Model.titulos</textarea>
            </div>
            <div class="col-sm-6">
                <label for="direccion" class="form-label">Trabajos :</label>
                <textarea class="form-control" id="trabajos" name="trabajos" readonly>@Model.trabajos</textarea>
            </div>
            <div class="col-sm-6">
                <label for="direccion" class="form-label">Cursos :</label>
                <textarea class="form-control" id="cursos" name="cursos" readonly>@Model.cursos</textarea>
            </div>
        </div>
    </div>
</section>

<footer>
</footer>
