@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" asp-controller="empresa" asp-action="Index">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="AggOfertas">Agregar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="edit">Editar ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="empresa" asp-action="vUsuario">Usuarios</a>
                    </li>
                </ul>
                <a class="btn text-light" href="@Url.Action("editEmpresa", "empresa")"><i class="fa-solid fa-user"></i> @ViewBag.nombre</a>
            </div>
        </div>
    </nav>
</header>
<!--Contenido-->

@if (ViewData["ofertas"] != null)
{
    @foreach (var item in (IEnumerable<dynamic>)ViewData["ofertas"])
    {
        <div class="container pt-4">
            <div class="card">
                <h3 class="card-header">Oferta: @item.tipo_trabajo</h3>
                <div class="row">
                    <div class="col-3 col-lg-5">
                        <img src="..." class="img-fluid" alt="...">
                    </div>
                    <div class="col-9 col-lg-7 b-3">
                        <h4>Salario $: @item.salario</h4>
                        <h4>Tipo de contrato: @item.tipo_contrato</h4>
                        <h4>Ubicacion: @item.ubicacion</h4>
                    </div>
                    <div class="pt-2 mb-2 col sm-2 text-center">
                        <form asp-action="EditOferta">
                            <input type="hidden" name="pid" value="@item.id_oferta" />
                            <button type="submit" class="btn btn-primary">Detalles</button>
                        </form>
                    </div>
                    <div class="pt-2 mb-2 col sm-2 text-center">
                        @if (item.estado == 1)
                        {
                            <form>
                                <input type="hidden" name="id_oferta" value="@item.id_oferta" />
                                <button type="button" class="btn btn-success">Activar</button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="ActivarOferta">
                                <input type="hidden" name="id_oferta" value="@item.id_oferta" />
                                <button type="submit" class="btn btn-outline-success">Activar</button>
                            </form>
                        }

                    </div>

                    <div class="pt-2 mb-2 col sm-2 text-center">
                        @if (item.estado == 0)
                        {
                            <form>
                                <input type="hidden" name="id_oferta" value="@item.id_oferta" />
                                <button type="button" class="btn btn-danger">Desactivar</button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="DesactivarOferta">
                                <input type="hidden" name="id_oferta" value="@item.id_oferta" />
                                <button type="submit" class="btn btn-outline-danger">Desactivar</button>
                            </form>
                        }
                    </div>

                    <!-- boton desactivado
                    <div class="pt-2 mb-2 col sm-2 text-center">
                    <a href="#" class="btn btn-lg btn-danger disabled" >Desactivado</a>
                    </div> !-->

                </div>
            </div>
        </div>
    }
}
else
{
    <h4>Aun no ha publicado ofertas</h4>
}
<footer>
</footer>