@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Contenido-->
@if (ViewData["ListaTrabajos"] != null)
{
    @foreach (var item in (IEnumerable<dynamic>)ViewData["ListaTrabajos"])
    {
        <section id="datos" class="datos">
            <div class="container mt-5 mb-3">
                <div class="card">
                    <h3 class="card-header">Empresa: @item.nombre</h3>
                    <div class="row">
                        <div class="col-lg-4" data-aos="fade-right">
                            @if (item.foto != null)
                            {
                                <img src="@item.foto" class="img-fliud" alt="Imagen de la empresa" style="width: 150px; height: 150px;" />
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                                     class="bi bi-person-square" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                                </svg>
                            }
                        </div>
                        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                            <h3>Nombre de la empresa: @item.nombre</h3>

                            <div class="row">
                                <div class="col-lg-6">
                                    <ul>
                                        <li>
                                            <h4>Tipo de trabajo: @item.tipo_trabajo</h4>
                                        </li>
                                        <li>
                                            <h4>Ubicacion: @item.ubicacion</h4>
                                        </li>

                                        <li>
                                            <h4>Salario $@item.salario</h4>
                                        </li>
                                        <li>
                                            <h4>Tipo de contrato: @item.tipo_contrato</h4>
                                        </li>
                                        <li>
                                            <h4>Fecha de publicacion: @item.fecha_publicacion</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-2 mb-2 col sm-2 text-center">
                                <a type="button" class="btn btn-primary" asp-controller="login" asp-action="Index">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
else
{
    <h1 class="text-center">No se encontraron publicaciones</h1>
}